/* Общие настройки для main и секций */
main {
  display: flex;
  flex-direction: column;
  gap: 183px;
}

.content-section {
  width: 100%;
  margin: 0 auto;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 50px 89px;
  box-sizing: border-box;
  height: 293px;
}

.header__menu {
  flex: 1;
}

.header__links-list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__links-list-item,
.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
}

.header__link_active {
  text-decoration: none;
}

.text-link:hover {
  color: #FFF;
  background-color: #000;
}

.header__logo {
  width: 140px;
  flex: 0 0 auto;
  display: block;
}

.header__logo-image {
  width: 100%;
  display: block;
}

.header__address {
  flex: 1;
  text-align: right;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.35;
}

.address_unit {
  display: block;
  line-height: 1.35;
  text-underline-position: under;
}

.address-text {
  font-size: 18px;
  line-height: 1.35;
}

/* COVER */
.cover {
  position: relative;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
  color: #FFF;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  line-height: 1;
}

.aligned-text_right {
  text-align: right;
  line-height: 1;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.remove-spacing {
  letter-spacing: normal;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 136px;
  gap: 78px;
}

.cover__description-text {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 1.27;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #FFF;
  padding: 14px 32px;
  background: transparent;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
}

.bet-button:hover {
  color: #000;
  background-color: #FFF;
}

/* LOTS */
.lots {
  padding: 0 50px;
}

.lots__heading {
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 30px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  min-height: 450px;
  padding: 50px 40px;
  gap: 30px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
}

.card__title {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  display: block;
  margin: 30px 0 0 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-decoration: underline;
  width: fit-content;
}

/* ABOUT */
.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  padding: 0 50px;
}

.about__column {
  justify-self: center;
}

.about__text-column {
  grid-column: 2/4;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  padding: 100px 0 104px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 23px;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 80px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: normal;
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-icon {
  height: 48px;
  width: auto;
}
